<div id="container">
  <header>
	  <div class="header_inner">
		  <h1>Ramble on</h1>
		  <nav id="sections">
			  <ol class="clearfix">
				  <li data-filter='*'>All</li>
				  <li data-filter='.music'>Music</li>
				  <li data-filter='.programming'>Programming</li>
				  <li data-filter='.books'>Books</li>
			  </ol>
		  </nav>
		  <div id="zigzag_header"></div>
	  </div>
  </header>
  <div id="main" role="main">
	  <section id="posts">
		  <ol>
			  <li class="post music large" data-id="0">
				  <div class="post_img" style="background: url('images/thumbs/0.jpg') no-repeat 0 0"></div>
				  <div class="description">
					<p>This album is a fantastic mixture of ethnic sounds, melancholic vocals and bizarreness</p>
				  </div>
				  <div class="title"><a href="posts/fancy/music/patrickwatson">Patrick Watson : Wooden Arms</a></div>
			  </li>
			  <li class="post programming small" data-id="1">
				  <div class="post_img" style="background: url('images/thumbs/1.jpg') no-repeat 0 0"></div>
				  <div class="description">Using layouts with Mustache.js and Express in Node.js</p>
				  <div class="title"><a href="posts/programming/mustache_js_and_express">Mustache.js</a></div>
			  </li>
			  <li class="post music medium" data-id="2">
				  <div class="post_img" style="background: url('images/thumbs/2.jpg') no-repeat 0 0"></div>
				  <div class="description">
					<p>Tarja Turunen, former singer of Nightwish, is visiting Montevideo</p>
				  </div>
				  <div class="title">Tarja</div>
			  </li>
		  </ol>
	  </section>
  </div>
  <footer>
	  <div class="footer_inner">
		  
	  </div>
  </footer>
</div> <!--! end of #container -->

<a href="https://github.com/diegovar/Node.js-blog">
	<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub">
</a> 