<div id="container">
  <header>
	  <div class="header_inner">
		  <h1>Ramble on</h1>
		  <nav id="sections">
			  <ol class="clearfix">
				  <li data-filter='*'>All</li>
				  <li data-filter='.music'>Music</li>
				  <li data-filter='.programming'>Programming</li>
				  <li data-filter='.books'>Books</li>
			  </ol>
		  </nav>
		  <div id="zigzag_header"></div>
	  </div>
  </header>
  <div id="main" role="main">
	  <section id="posts">
		  <ol>
			  <li class="post music large" data-id="0">
				  <div class="post_img" style="background: url('images/thumbs/0.jpg') no-repeat 0 0"></div>
				  <div class="description">
					<p>This album is a fantastic mixture of ethnic sounds, melancholic vocals and bizarreness</p>
				  </div>
				  <div class="title"><a href="posts/music/patrickwatson">Patrick Watson : Wooden Arms</a></div>
			  </li>
			  <li class="post programming small" data-id="1">
				  <div class="post_img" style="background: url('images/thumbs/1.jpg') no-repeat 0 0"></div>
				  <div class="description">Using layouts with Mustache.js and Express in Node.js</p>
				  <div class="title"><a href="posts/programming/mustache_layouts">Mustache.js</a></div>
			  </li>
			  <li class="post music medium" data-id="2">
				  <div class="post_img" style="background: url('images/thumbs/2.jpg') no-repeat 0 0"></div>
				  <div class="description">
					<p>Tarja Turunen, former singer of Nightwish, is visiting Montevideo</p>
				  </div>
				  <div class="title">Tarja</div>
			  </li>
		  </ol>
	  </section>
  </div>
  <footer>
	  <div class="footer_inner">
		  
	  </div>
  </footer>
</div> <!--! end of #container -->

