<div id="post" class="patrickwatson music">
    
    <h1>
        <img src="/images/thumbs/0.jpg" />
    </h1>
    
    <h1>
        Patrick Watson
    </h1>
    
    </h2>
        Wooden arms
    </h2>
    
    <p>
        This attemps to describe music, which is a difficult endeavour no matter the simplicity of the tune.
        One can find music that is astoundingly simple, yet conveys emotions in a way that a 10-minute guitar riff cannot.
        Take for example, Satie's Gnoissienes. Blablabla
    </p>

</div>